<div class='results'>
	<p>
		RESULT:
	</p>

	<% if @game.winner == "Draw" %>
		<p> it was a draw </p>
	 <% elsif @game.winner.name == "computer" %>
	 	<p>You lost! the computer won with <%= @game.winner.pick %>.</p>
	<% else %>
		<p>You won, with <%= @game.winner.pick %> </p>
	<%end%>
</div>

